body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100wh;
  height: 100vh;
  margin: 0;
  background-color: #222;
  color: red;
  font-size: 23px;
  font-family: Consolas;
}
input {
  background-color: #222;
  border: 1px solid lime;
  color: lime
}
input:focus {
  border: 1px solid lime;
  outline: none;
}
button {
  background-color: #222;
  border: 1px solid lime;
  color: lime
}

button:hover {
  cursor: pointer;
}
.block {
  display: flex;
  flex-direction: column;
}